.error {
    color: red;
}

* {
    margin: 0;
    padding: 0;
}

input {
    margin: 10px;
    height: 25px;
}

html,
body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 90px;
    margin: 80px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: aquamarine;
    text-align: center;

}

.footer p {
    padding: 10px;
}

header {
    background-color: aquamarine;
    height: 20px;
    padding: 20px;
}

nav {
    float: right;
}

a {
    text-decoration: none;
}



td{
    padding: 10px;
}

label {
    display: inline-block;
    width: 100px;
}

.btn {
    height: 30px;
    padding: 5px;
}
